<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Reset password</title>
</head>
<body>

<div layout:fragment="header" class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a th:href="${'/'}">Trang chủ</a></li>
        <li class="breadcrumb-item active">Reset password</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row invoice">
            <div class=" col-6">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Tên tài khoản:</th>
                            <td th:text="${passwordData.username}"></td>
                        </tr>
                        <tr>
                            <th>Số điện thoại:</th>
                            <td th:text="${passwordData.mobileNo}"></td>
                        </tr>
                        <tr>
                            <th>Mật khẩu mới:</th>
                            <td th:text="${passwordData.password}"></td>
                        </tr>
                    </table>
                </div>
                <div style="margin-bottom: 5px; text-align: center;">
                    <a th:href="${'/users/search'}" class="btn btn-primary">Quay lại danh sách</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>