<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Lịch sử quay số</title>
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="card">


        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Lọc</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <form th:action="@{/lottery-ticket/search}" method="get">
                <div class="card-body" style="display: flex; justify-content: end; padding-bottom: 0px;">

                   <div class="row" style="width: 100%">

                       <div class="col-md-3">
                           <div class="form-group">
                               <div class="input-group">
                                   <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                      </span>
                                   </div>
                                   <input type="text" class="form-control float-right" placeholder="Ngày chơi" id="reservation">
                               </div>
                           </div>
                           <input type="hidden" name="dateFrom" th:value="${dateFrom}"/>
                           <input type="hidden" name="dateTo" th:value="${dateTo}"/>
                       </div>

                       <div class="col-md-3">
                           <div class="form-group">
                               <select class="form-control" th:name="modeCode" th:value="${modeCode}" id="modeCode" style="width: 100%">
                                   <option value="">Chọn chế độ chơi</option>
                                   <option th:each="row : ${modeCodes}"
                                           th:value="${row.code}" th:text="${row.code}"
                                           th:selected="${modeCode != null && modeCode == row.code}"/>
                               </select>
                           </div>
                       </div>

                       <div class="col-md-3">
                           <div class="input-group input-group" style="width: 300px;">
                               <input type="text" name="searchValue" id="searchValue" th:value="${searchValue}" class="form-control float-right" placeholder="Tìm kiếm">
                           </div>
                       </div>
                       <div class="col-3">
                           <button style="margin-bottom: 10px" type="submit" class="btn btn-success float-right">
                               Tìm kiếm
                           </button>
                       </div>
                   </div>

                </div>
            </form>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                <tr>
                    <th>Tên KH</th>
                    <th>Số ĐT</th>
                    <th>Tên xổ số</th>
                    <th>Chế độ chơi</th>
                    <th>Ngày chơi</th>
                    <th>Trạng thái</th>
                    <th>Kết quả</th>
                    <th>Số vé</th>
                    <th>Số tiền thưởng (LAK)</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${lotteryTicketPage.pageItems}">
                        <td th:text="${row.username}"></td>
                        <td th:text="${row.mobileNo}"></td>
                        <td th:text="${row.lotteryName}"></td>
                        <td th:text="${row.modeCode}"></td>
                        <td th:text="${row.createdDate}"></td>
                        <td th:text="${row.sessionStatus}"></td>
                        <td th:text="${row.win ? 'Thắng' : 'Thua'}"></td>
                        <td th:text="${row.quantity}"></td>
                        <td th:text="${row.win ? '+' + #strings.replace(#numbers.formatDecimal(row.prizeMoney, 0, 'COMMA', 0, 'POINT'), '.00', '') : '-' + #strings.replace(#numbers.formatDecimal(row.prizeMoney, 0, 'COMMA', 0, 'POINT'), '.00', '')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

        <nav aria-label="page navigation" th:if="${totalPages > 1}" th:with="max=3">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${pageNumber == 0 ? 'disabled' : '' }">
                    <a class="page-link"
                       th:href="@{/lottery-ticket/search(pageSize=${pageSize}, pageNumber=${pageNumber lt 2 ? 1 : pageNumber - 1}, dateFrom=${dateFrom}, dateTo=${dateTo}, modeCode=${modeCode}, searchValue=${searchValue})}"
                       aria-label="Previous" title="Trang sau" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(0, totalPages - 1)}"
                    th:if="${pageNumber} >= ${page - max} and ${pageNumber} <= ${page + max} or ${page} == ${totalPages - 1} or ${page} == 0"
                    th:classappend="${page == pageNumber ? 'active': '' }" >
                    <span class="page-link" th:if="${pageNumber} == ${page + max} and ${page != 0}">...</span>
                    <a class="page-link"
                       th:if="${pageNumber} > ${page - max} and ${pageNumber} < ${page + max} or ${page} == ${totalPages - 1} or ${page} == 0"
                       th:href="@{/lottery-ticket/search(pageSize=${pageSize}, pageNumber=${page}, dateFrom=${dateFrom}, dateTo=${dateTo}, modeCode=${modeCode}, searchValue=${searchValue})}" th:text="${page+1}">1</a>
                    <span class="page-link" th:if="${pageNumber} == ${page - max} and ${page} != ${totalPages - 1}">...</span>
                </li>
                <li class="page-item" th:classappend="${pageNumber + 1 >= totalPages ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/lottery-ticket/search(pageSize=${pageSize}, pageNumber=${pageNumber + 1}, dateFrom=${dateFrom}, dateTo=${dateTo}, modeCode=${modeCode}, searchValue=${searchValue})}"
                       aria-label="Next" title="Trang trước" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>