<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Thay đổi mật khẩu</title>
</head>
<body>

<div layout:fragment="header" class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a th:href="${'/'}">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thay đổi mật khẩu</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-body" style="margin: auto; width: 50%;">


                <form th:action="${'/users/change-password'}" th:object="${changePasswordData}" method="post">
                    <div class="input-group mb-3">
                        <input type="password" required class="form-control" name="passwordOld" id="oldPassword" th:field="*{oldPassword}" placeholder="Mật khẩu cũ">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" required class="form-control" name="passwordNew" id="newPassword" th:field="*{newPassword}" placeholder="Mật khẩu mới">
                    </div>
                    <input type="checkbox" onclick="showPassword()">Hiển thị mật khẩu
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
</div>
</body>
</html>