<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Chi tiết Ví master</title>
</head>
<body>

<div layout:fragment="header" class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết ví master</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="container-fluid">
        <div th:if="${walletData.status == 'ACTIVE'}" class="row text-right">
            <div class="col-12" style="margin-block: 10px;">
                <form th:action="${'/wallets/' + walletData.id +  '/lock'}" method="post">
                    <button type="submit" class="btn btn-danger" style="width: 130px;">Khoá ví</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

                <div style="font-weight: 600;" class="callout callout-info">
                    <h5>Số dư hiện tại:</h5>
                    <span style="color: #2c5ba9; font-size: 20px;" th:text="${#strings.replace(#numbers.formatDecimal(walletData.balance, 0, 'COMMA', 0, 'POINT'), '.00', '') + ' VND'}"></span>
                </div>


                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                Thông tin Ví
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class=" col-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Trạng thái ví:</th>
                                        <td style="color: rgb(37, 88, 228);" th:text="${walletData.status}"></td>
                                    </tr>
                                    <tr>
                                        <th>Loại ví</th>
                                        <td>Master</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày tạo ví</th>
                                        <td th:text="${walletData.createdDate}"></td>
                                    </tr>
                                    <tr>
                                        <th>User hệ thống</th>
                                        <td th:text="${walletData.username}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div><!-- /.col -->
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Danh sách tài khoản</h3>
                            </div>

                            <!-- /.card-header -->
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Ngân hàng</th>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên tài khoản</th>
                                        <th>Số tài khoản</th>
                                        <th>Số thẻ</th>
                                        <th>Kích hoạt?</th>
                                    </tr>
                                    </thead>
                                    <tbody id="customFields">
                                        <tr th:each="bankAccount : ${walletData.bankAccounts}">
                                            <td th:text="${bankAccount.bankCode}+' : '+${bankAccount.bankName}"></td>
                                            <td th:text="${bankAccount.userName}"></td>
                                            <td th:text="${bankAccount.accountName}"></td>
                                            <td th:text="${bankAccount.accountNumber}"></td>
                                            <td th:text="${bankAccount.cardNumber}"></td>
                                            <td>
                                                <div class="icheck-success d-inline">
                                                    <input th:checked="${bankAccount.enabled}" type="radio" th:id="${bankAccount.accountNumber}" th:name="${bankAccount.accountNumber}">
                                                    <label th:for="${bankAccount.accountNumber}">
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                Giao dịch gần nhất
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="transaction-completed-tab" data-toggle="pill" href="#transaction-completed" role="tab" aria-controls="transaction-completed" aria-selected="true">Hoàn thành</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="transaction-process-tab" data-toggle="pill" href="#transaction-process" role="tab" aria-controls="transaction-process" aria-selected="false">Đang xử lý</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="custom-content-below-tabCompleted">
                        <div class="tab-pane fade show active" id="transaction-completed" role="tabpanel" aria-labelledby="transaction-completed-tab">
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>#Mã GD</th>
                                                <th>Người gửi</th>
                                                <th>Số ĐT gửi</th>
                                                <th>Người nhận</th>
                                                <th>Số ĐT nhận</th>
                                                <th>Ngày giao dịch</th>
                                                <th>Trạng thái</th>
                                                <th>Số tiền</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="row : ${transactionsSuccess.pageItems}">
                                                <td th:text="${row.id}"></td>
                                                <td th:text="${row.fromUserFullName}"></td>
                                                <td th:text="${row.fromUserPhoneNumber}"></td>
                                                <td th:text="${row.toUserFullName}"></td>
                                                <td th:text="${row.toUserPhoneNumber}"></td>
                                                <td th:text="${row.transactionDate}"></td>
                                                <td><span class="tag tag-success" th:text="${row.status}"></span></td>
                                                <td th:text="${row.amount} "></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="transaction-process" role="tabpanel" aria-labelledby="transaction-process-tab">
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>#Mã GD</th>
                                                <th>Người gửi</th>
                                                <th>Số ĐT gửi</th>
                                                <th>Người nhận</th>
                                                <th>Số ĐT nhận</th>
                                                <th>Ngày giao dịch</th>
                                                <th>Trạng thái</th>
                                                <th>Số tiền</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="row : ${transactionsProcess.pageItems}">
                                                <td th:text="${row.id}"></td>
                                                <td th:text="${row.fromUserFullName}"></td>
                                                <td th:text="${row.fromUserPhoneNumber}"></td>
                                                <td th:text="${row.toUserFullName}"></td>
                                                <td th:text="${row.toUserPhoneNumber}"></td>
                                                <td th:text="${row.transactionDate}"></td>
                                                <td><span class="tag tag-success" th:text="${row.status}"></span></td>
                                                <td th:text="${row.amount} "></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>